name: "Alexa Audio Bridge"
description: "Streaming audio locale per Alexa tramite LMS"
version: "0.1.0"
slug: "alexa_audio_bridge"
arch:
  - aarch64
  - amd64
init: false
host_network: true
map:
  - config:rw
  - media:ro
